.DataSourcePicker {
  position: absolute;
  right: 100px;
  top: 120px;
  text-align: right;
  cursor: pointer;
}

.DataSource {
  font-size: 10px;
  margin: 5px 0px;
}

.ActiveDataSource {
  color: #525975;
  font-weight: bold;
}

.InactiveDataSource {
  color: #BABCBC;
}

.DataSourceDot {
  margin-left: 5px;
}
